.container_solicitar_perfil_riesgo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.app_noautorizado {
    background-color: #c8c8c8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel_principal_solicitar_perfil_riesgo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel_contenedor_solicitar_perfil_riesgo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tamanio_toolbar {
    width: 100%;
}

.mypanel .p-panel-header {
    color: #000000;
    padding: 0%;
    font-size: small;
}

.tabla_ruc {
    font-size: small;
    width: auto;
}

.tamanio_archivo {
    font-size: small;
    width: auto;
}

.tamanio_tabla {
    flex: 1;
    font-size: small;
    width: fit-content;
}

.tamanio_boton {
    font-size: '10px';
}

