.container_consultar_arboles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.app_noautorizado {
    background-color: #c8c8c8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel_principal_consultar_arboles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel_contenedor_consultar_arboles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tamanio_toolbar {
    display: flex;
}

.mypanel .p-panel-header {
    color: #000000;
    padding:5px;
    font-size: small;
}