.container_reporte_consultas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app_noautorizado {
    background-color: #c8c8c8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.panel_principal_reporte_consultas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.panel_contenedor_reporte_consultas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tamanio_toolbar {
    width: 100%;
}
