.container_listar_historial_laboral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app_noautorizado {
    background-color: #c8c8c8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel_principal_listar_historial_laboral {
    width: 95%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel_contenedor_listar_historial_laboral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tamanio_toolbar {
    width: 100%;
}

.mypanel .p-panel-header {
    color: #000000;
    padding: 0%;
    font-size: small;
}