.container_gestion_de_usuarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: small;
}

.tamanio_path {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_noautorizado {
    background-color: #c8c8c8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tamanio_toolbar {
    width: 80%;
}

.p-toolbar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}